
title: 블로그는 어려워
description: An easy to use blogging platform with support for Jupyter Notebooks.
github_username: shw9807
github_repo: "shw9807blog"


url: "https://shw9807.github.io" 
baseurl: "/shw9807blog" 
minima:
  social_links:
    twitter: 
    github: "https://shw9807.github.io"

use_math: true
show_description: true
show_image: false
annotations: false
show_tags: true
google_analytics: 

exclude:
  - docker-compose.yml
  - action.yml
  - Makefile

include:
  - _pages

default_badges:
  github: true
  binder: true
  colab: true
  deepnote: true

html_escape:
  description: false

# Everything below here should be left alone. Modifications may break fastpages
future: true
theme: jekyll-gitbook
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-octicons
  - jekyll-toc
  - jekyll-twitter-plugin
  - jekyll-relative-links
  - jekyll-seo-tag
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji

# See https://jekyllrb.com/docs/pagination/
# For pagination to work, you cannot have index.md at the root of your repo, instead you must rename this file to index.html
paginate: 15
paginate_path: /page:num/

remote_theme: sighingnow/jekyll-gitbook

titles_from_headings:
  enabled:     true
  strip_title: true
  collections: true

highlighter: rouge
markdown: kramdown
kramdown:
  math_engine: katex
  input: GFM
  auto_ids: true
  hard_wrap: false
  syntax_highlighter: rouge

# to limit size of xml as it can grow quite large.
feed:
  posts_limit: 5 #default posts_limit: 10
  excerpt_only: true
  
exclude:
  - settings.ini
